.wrapper {
  display: grid;
  gap: 0.5rem;

  label {
    font-size: 1.2rem;
  }

  input {
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 0.15rem solid #DED1F6;
    border-radius: .5rem;
    padding: .8rem;
    color: rgba(163, 201, 242, 1);
  }

  .err {
    color: red;
    font-size: 1rem;
  }
}
