button {
  background-color: #DED1F6;
  width: 100%;
  color: rgba(31, 32, 37, 1);
  box-shadow: 0 0 .1rem rgba(222, 209, 246, 0.5);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  padding: 0.8rem 3rem;
  cursor: pointer;
  border-radius: 1rem;
}
